
header{
    background-image: url("./images/quartier.jpg");;
    height: 400px;
}

/* #imgQuartier{
    max-width: 400px;  
    min-width: 200px; 
    width: 40%;
   }

navbar{
background-color: yellow;
}

#menu{
background-color:blue;
}

#imgLogo{
    max-width: 400px;  
    min-width: 200px; 
    width: 40%;
   }
   



#login{
    background-color:rgb(21, 255, 0);
    } */