
header{
    background-image: url("./images/quartier.jpg");
    height: 250px;
    object-fit: fill;
}

navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

navbar .menu{
    height: 24px;
    width: 25px;
    margin: 5px 5px 5px 5px;
    
}


navbar .logo{
    height: 18px;
    width: 200px;
    margin: 5px 5px 5px 5px;
    border-radius: 10px;
    border: none;
}

navbar button{
    height: 18px;
    margin: 5px 5px 5px 5px;
    border-radius: 10px;
    border: none;
}


navbar div{
    height: 30px;
    margin: 10px 3px 0 5px;
    border-radius: 10px;
    border: none;
    color:#fdfdfd;
}

#slogan {
    display:flex;
    justify-content: flex-end;
    flex-direction: column;
}
section .slogan{
    color: rgb(255, 255, 255)
}


.app{
    display: flex;
}

 .imgAppStore{
    height: 38px;
    width: 116px;
   }

   .imgGooglePlay{
    height: 38px;
    width: 116px;
   }


   .inscription{
       color:black;
       font-size: 12px;
       font-family: 'Courier New', Courier, monospace;
       font-weight: bold;
   }

   .rejoignez{
       background-color: chartreuse;
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       border-radius: 10px;
       border: none;
       font-weight: bold;
   }
  
   form{
display: flex;

   }

   .form-nom{
    border-radius: 10px;
    border: none;
   }

   .form-appt{
    border-radius: 10px;
    border: none;
   }

   .form-email{
    border-radius: 10px;
    border: none;
   }



