
header{
    background-image: url("./images/quartier.jpg");
    height: 250px;
}

navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

navbar img{
    width: 155px;
    margin-top: -61px;
}

navbar button{
    height: 30px;
    margin: 3px 3px 0 0;
    border-radius: 10px;
    border: none;
}


navbar div{
    height: 30px;
    margin: 10px 3px 0 5px;
    border-radius: 10px;
    border: none;
color:#fdfdfd;
}


section  .slogan{
    color: rgb(255, 255, 255);
}




section .imgAppStore{
    height: 10px;
    width: 20px;
   }

   section .imgGooglePlay{
    height: 1px;
    width: 1px;
   }



#login{
    /* background-color:rgb(21, 255, 0); */
    } 

 
  